* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "MTG";
  src: url("../assets/beleren-bold-webfont.ttf");
}

body {
  margin: 0;
  padding: 0;
  font-family: "MTG";
  letter-spacing: .15rem;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}
