.container {
  width: 90%;
  margin: 0 auto;
}

button {
  font-family: "MTG";
  letter-spacing: .15rem;
  font-size: .5rem;
  // text-transform: uppercase;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background: $linear-red;
}
