.inline {
  display: inline-block;
}

$linear-background: linear-gradient(#4599BA, #1B6D92, #303560, rgb(0,0,55));

@mixin nav-div {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1rem;
  width: 100%;
  height: 50px;
  border-right: 1px solid #000;
  background: $linear-background;
  // padding: 5px 0;
  margin: 0 auto;

  &:last-child {
    border-right: none;
  }

  &:hover {
    cursor: pointer;
  }

  @media screen and (min-width: 640px) {
    max-width: 640px;
    height: 50px;
  }

  @media screen and (min-width: 750px) {
    max-width: 80%;
    height: 75px;
  }

  @media screen and (max-height: 420px) {
    font-size: .75rem;
    height: 30px;
  }
}

@mixin background-area {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-position: top center;

  .form-area {
    color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    width: 80%;
    padding: 20px 10px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;

    .page-header {
      margin-bottom: 20px;

      small {
        display: block;
      }
    }

    input {
      color: #fff;
      font-size: 1rem;
      width: 100%;
      border: none;
      border-radius: 8px;
      padding: 10px 0;
      padding-left: 15px;
      padding-right: -15px;
      margin: 5px 0;
      background-color: rgba(0,0,0,.5);
      border: 1px solid #000;

      &::-webkit-input-placeholder {
         color: #fff;
      }
    }

    button {
      width: 100%;
      font-size: 1rem;
    }

    .register-label, .login-label {
      margin: 20px 0;
    }
  }
}
