.sealed-background {
  height: 100vh;
  width: 100vw;
  position: relative;
  background: linear-gradient(#000, #333, #666 50%, #333, #000);
}

.divider {
  width: 100%;
  background: $linear-red;
  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
  z-index: 0;

  img {
    height: 120px;
    margin-left: 50%;
    padding: 20px 0;
    transform: translateX(-50%);
  }
}

.sealed-header {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000;

  h1, h2 {

    width: 95%;
    margin: 0 auto;
    color: #fff;

  }

  h1 {
    margin-top: 10px;
  }

  h2 {
    font-size: .95rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  nav {
    display: flex;
    width: 100vw;

    div {
      @include nav-div;

    }

  }

}

.play-area {
  display: flex;
  height: 100vh;
  align-items: center;
  z-index: 1000;
  padding-top: 100px;

  &.display {
    justify-content: flex-end;
  }

  .pool, .deck {
    padding: 100px 0;
    white-space: nowrap;
    overflow-x: scroll;
    z-index: 1000;
  }

  .card {
    width: 350px;
    margin-left: 10px;
    z-index: 1000;

    img {
      width: 100%;
      z-index: 1000;
    }
  }
}

.sealed-footer {
  display: flex;
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000000;

  div {
    @include nav-div;
  }
}

.sealed-footer--filter, .sealed-footer--sort, .sealed-footer--lands {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  z-index: 10000;
  position: fixed;
  bottom: 65px;
  left: 50%;
  transform: translate(-50%, 100%);
  transition: .7s;

  div {
    @include nav-div;
    height: 65px;
  }
}

.show {
  height: auto;
  transform: translate(-50%, 0);
  transition: .7s;
}
