<div class="main-background">
  <div class="page-header">
    <h1>
      <span>
        Welcome, <small>{{ mainCtrl._UserService.profile.firstName }} {{ mainCtrl._UserService.profile.lastName }}</small>
      </span>
      <button type="submit" ng-click="mainCtrl.logout()">
        Logout
      </button>
    </h1>
  </div>

  <div class="main-container">

    <h2 class="getting-started">Getting Started</h2>

    <div class="set-dropdown">
      <h3>Step 1: Select a Set</h3>


      <select name="Set Selector" ng-model="mainCtrl.set">
        <option value="#">Select a set</option>
        <option ng-repeat="set in mainCtrl.sets" value="{{ set.code }}">{{ set.name }}</option>
      </select>

    </div>

    <div class="sealed-new">
      <h3>Step 2: Generate a New Sealed Pool</h3>

      <button class="sealed-button" type="submit" ng-click="mainCtrl.newSealed()">
        New Sealed
      </button>
    </div>

    <h2 class="previous-pools">Previous Sealed Pools</h2>

  </div>

    <div class="pools">
      <div class="pool pool-placeholder" ng-hide="mainCtrl.pools.length > 1">
        Make some new Sealed Pools!
      </div>
      <div class="pool" ng-repeat="pool in mainCtrl.pools">
          <div class="pool-container">
            <span class="pool-name" ui-sref="sealed({ id: pool.$id })">
              {{ pool.title }} Sealed Pool
            </span>
            <div class="pool-delete inline" ng-click="mainCtrl.deletePool(pool)">
              Delete
            </div>
          </div>
      </div>
    </div>
</div>
