<div class="sealed-background">

  <div class="divider">
    <img src="../assets/magic-logo.png">
  </div>

  <header class="sealed-header">
      <h1>
          {{ sealedCtrl._UserService.profile.firstName }} {{ sealedCtrl._UserService.profile.lastName }}'s
      </h1>
      <h2>
        Deck Name:
        <span ng-hide="sealedCtrl.edit">
          {{ sealedCtrl.cardPool.title }} ({{ sealedCtrl.deck.length }}/40)
        </span>
        <form class="inline" ng-submit="sealedCtrl.saveTitle()" ng-show="sealedCtrl.edit">
          <input type="text" id="exampleInputName2" ng-model="sealedCtrl.title" placeholder="Title">
        </form>
      </h2>
      <nav>
        <div ui-sref="main">
          Back
        </div>
        <div ng-click="sealedCtrl.editTitle()" ng-hide="sealedCtrl.edit">
          Change Name
        </div>
        <div ng-click="sealedCtrl.saveTitle()" ng-show="sealedCtrl.edit">
          Save Name
        </div>
        <div ng-hide="sealedCtrl.display === 'deck'" ng-click="sealedCtrl.displayChange()">
          Show Deck
        </div>
        <div ng-hide="sealedCtrl.display === 'sealed'" ng-click="sealedCtrl.displayChange()">
          Show Pool
        </div>
        <div ng-click="sealedCtrl.saveDeck()">
          Save Deck
        </div>
      </nav>
  </header>

  <div class="play-area">

    <div class="pool" ng-show="sealedCtrl.display === 'sealed'">
      <div class="card inline" ng-hide="card.selected" ng-click="sealedCtrl.addCard(card)" ng-repeat="card in sealedCtrl.cardPool.cards | orderBy: sealedCtrl.sort | filter: sealedCtrl.filter">
        <img ng-src="{{ card.imageUrl }}">
      </div>
    </div>

    <div class="deck" ng-show="sealedCtrl.display === 'deck'">
      <div class="card inline" ng-click="sealedCtrl.removeCard(card)" ng-repeat="card in sealedCtrl.deck | orderBy: sealedCtrl.sort | filter: sealedCtrl.filter">
        <img ng-src="{{ card.imageUrl }}">
      </div>
    </div>

  </div>

  <footer class="sealed-footer">
    <div ng-click="sealedCtrl.displaySort()">Sort</div>
    <div ng-click="sealedCtrl.displayFilter()">Filter</div>
    <div ng-click="sealedCtrl.displayLands()">Add Lands</div>
    <div>Analyze Deck</div>
  </footer>

  <footer class="sealed-footer--sort" ng-class="{ 'show': sealedCtrl.showSort }">
    <div ng-click="sealedCtrl.sortCards('colors')">Color</div>
    <div ng-click="sealedCtrl.sortCards('types')">Type</div>
    <div ng-click="sealedCtrl.sortCards('rarity')">Rarity</div>
    <div ng-click="sealedCtrl.sortCards('cmc')">Cost</div>
    <div ng-click="sealedCtrl.resetSort()">Reset Sort</div>
  </footer>

  <footer class="sealed-footer--filter" ng-class="{ 'show': sealedCtrl.showFilter }">
    <div>
      <label>Color: </label>
      <select ng-model="sealedCtrl.filterOption" ng-change="sealedCtrl.filterCards('colors')">
        <option value="#" selected>Filter by color</option>
        <option value="white">White</option>
        <option value="blue">Blue</option>
        <option value="black">Black</option>
        <option value="red">Red</option>
        <option value="green">Green</option>
        <option value="all">All</option>
      </select>
    </div>
    <div>
      <label>Type: </label>
      <select ng-model="sealedCtrl.filterOption" ng-change="sealedCtrl.filterCards('types')">
        <option value="#" selected>Choose a card type</option>
        <option value="artifact">Artifact</option>
        <option value="creature">Creature</option>
        <option value="enchantment">Enchantment</option>
        <option value="instant">Instant</option>
        <option value="land">Land</option>
        <option value="planeswalker">Planeswalker</option>
        <option value="sorcery">Sorcery</option>
      </select>
    </div>
    <div>
      <label>Rarity: </label>
      <select ng-model="sealedCtrl.filterOption" ng-change="sealedCtrl.filterCards('rarity')">
        <option value="#" selected>Choose a rarity</option>
        <option value="common">Common</option>
        <option value="uncommon">Uncommon</option>
        <option value="rare">Rare</option>
        <option value="mythic rare">Mythic Rare</option>
      </select>
    </div>
    <div>
      <label>Cost: </label>
      <select ng-change="sealedCtrl.filterCards('cmc')" ng-model="sealedCtrl.filterOption">
        <option value="#">Select a mana cost</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
      </select>
    </div>
    <div ng-click="sealedCtrl.resetFilters()">
      Reset Filters
    </div>
  </footer>

  <footer class="sealed-footer--lands" ng-class="{ 'show': sealedCtrl.showLands }">
    <div>
      Plains
      <input type="number" min="1" ng-model="sealedCtrl.numLands">
      <input type="submit" value="Add Lands" ng-click="sealedCtrl.addLands('plains')">
    </div>
    <div>
      Islands
      <input type="number" min="1" ng-model="sealedCtrl.numLands">
      <input type="submit" value="Add Lands" ng-click="sealedCtrl.addLands('island')">
    </div>
    <div>
      Swamps
      <input type="number" min="1" ng-model="sealedCtrl.numLands">
      <input type="submit" value="Add Lands" ng-click="sealedCtrl.addLands('swamp')">
    </div>
    <div>
      Mountains
      <input type="number" min="1" ng-model="sealedCtrl.numLands">
      <input type="submit" value="Add Lands" ng-click="sealedCtrl.addLands('mountain')">
    </div>
    <div>
      Forests
      <input type="number" min="1" ng-model="sealedCtrl.numLands">
      <input type="submit" value="Add Lands" ng-click="sealedCtrl.addLands('forest')">
    </div>
  </footer>
</div>
